* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-p-medium {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-p-large {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* --- HEADER AND NAV-BAR --- */

header {
    background-color: var(--color-secondary);
    min-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.btn > a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #ffffff;
    border-radius: 20px;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
justify-content: center;
}

.col {
flex-grow: 1;
flex-basis: 0;
}

.col-1 {
flex-basis: calc((100% / 3) - 1rem);
}

.col-2 {
flex-basis: calc(((100% / 3) * 2) - 1rem);
}

.col-3 {
flex-basis: 100%;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    min-height: 100px;
}

.bg-primary {
background-color: var(--color-primary);
}

.bg-secondary {
background-color: var(--color-secondary);
}

.bg-secondary-light {
background-color: var(--color-secondary-light);
}

@media screen and (max-width: 992px) {
.container {
    width: calc(var(--bp-md) - 2rem);
}

.col-lg-half {
    flex-basis: 50%;
}
}

@media screen and (max-width: 768px) {
.container {
    width: 534px;
}

.container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-md-half {
    flex-basis: 50%;
}

.col-md-full {
    flex-basis: 100%;
}
}

@media screen and (max-width: 576px) {
.container {
    width: 100%;
}
.container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-sm-half {
    flex-basis: 50%;
}

.col-sm-full {
    flex-basis: 100%;
}
}

/* ------- MAIN ------- */

/* ------ FIRST SECTION ------ */

main .section:first-child {
    padding-top: 5rem;
}

.section:nth-child(1) .container {
    padding-left: 0;
    padding-right: 0;
}

.section:nth-child(1) .row {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

[src="img/phone.png"] {
    max-width: 60%;
}

.demo-app {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.section:nth-child(1) .card {
    height: 100%;
}

.section:nth-child(1) h4 {
    color: var(--color-secondary);
    padding-bottom: 1rem;
}

.demo-app > p {
    padding-bottom: 1.2rem;
    line-height: 1.4rem;
}

.section:nth-child(1) p {
    color: #5a6e7f;
    font-size: 0.9rem;
}

.section:nth-child(1) i {
    color: var(--color-secondary);
    padding-bottom: 1rem;
    font-size: 3rem;
}


.app-store {
    display: inline-block;
    color: white;
    border-radius: 25px;
    padding: 0.3rem 1.2rem;
    height: 33px;
}

.fa-apple {
    color: white !important;
    font-size: 1rem !important;
}

.phone {
    align-items: flex-end;
    padding-bottom: -1rem;
}


.fa-file-code {
    font-size: 3rem;
}

/* ------ SECOND SECTION ------ */

.section:nth-child(2) .container {
    padding-left: 0;
    padding-right: 0;
}

.section:nth-child(2) .row {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.section:nth-child(2) .col {
    flex-grow: 0;
    flex-basis: calc((100% /3) - 1rem);
}

.plan2 > .card {
    background-color: white;
}

.section:nth-child(2) h3 {
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.section:nth-child(2) h4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.section:nth-child(2) p {
    font-size: 0.9rem;
}

.plan2 {
    align-self: flex-end;
}

[src="img/planning1.png"] {
    width: 100%;
}

[src="img/planning2.png"] {
    width: 50%;
}

.down-arrow {
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2rem;
    margin: 1rem auto;
}

/* ------ THIRD SECTION ------ */

.section:nth-child(3) .container {
    padding-left: 0;
    padding-right: 0;
}

h3.text-center {
    color: var(--color-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

p.text-center {
    color: black;
}

.testimonial {
    min-height: 220px;
    border-radius: 30px;
    margin-bottom: 2rem;
    align-items: center;
    padding: 1rem;
    margin-top: 1.5rem;
    color: white;
}

.testimonial > p {
    padding: 1rem;
    color: white;
}

.testimonial > h4 {
    align-self: baseline;
}

.pro-pic {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 220px;
    overflow: hidden;
    position: relative;
}

.pro-pic img {
    width: 160%;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    right: -32%;
}

/* ------ FOURTH SECTION ------ */

.section:nth-child(4) h3.text-center {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 2.2rem;
}

.section:nth-child(4) .row {
    gap: 1rem;
}

.more {
    display: inline-block;
    border-radius: 25px;
    margin-top: 1.5rem;
    padding: 0.4rem 1.5rem;
    color: white;
    cursor: pointer;
    text-align: center;
}

.section:nth-child(4) h1,h4 {
    color: var(--color-primary);
}

.section:nth-child(4) h1 {
    padding-bottom: 1rem;
    font-size: 3.2rem;
}

.section:nth-child(4) h4 + p {
    padding-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.section:nth-child(4) .card {
    background-color: white;
    padding: 1.5rem;
}

/* ------ FIFTH SECTION ------ */

.section:nth-child(5) h1 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    font-size: 2.6rem;
}

.section:nth-child(5) .card {
    background-color: white;
}

.section:nth-child(5) .col-2 .card {
    padding: 1.5rem;
    line-height: 1.7rem;
}

.portrait {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.portrait + h2 {
    color: var(--color-primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.portrait > img {
    width: 100%;
}

.find-me {
    border-radius: 25px;
    padding: 0.3rem 0.7rem;
    color: white;
}


.section:nth-child(5) .col-1 {
    position: relative;
}

.section:nth-child(5) .fa-quote-left {
    font-size: 4rem;
    color: var(--color-primary);
    position: absolute;
    top: 5%;
    right: 13%;
}

/* ------ SIXTH SECTION ------ */

.section:nth-child(6) h4 {
    color: #cfcef2;
    padding-bottom: 0.7rem;
}

.section:nth-child(6) h1 {
    color: #fdc15f;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    font-size: 3.8rem
}

.section:nth-child(6) h2 {
    font-size: 1.8rem;
    color: white;
}

.section:nth-child(6) p {
    padding-bottom: 1rem;
    width: 100%;
    color: white;
    font-size: 0.8rem;
}

.section:nth-child(6) .card {
    flex-wrap: wrap;
}

.get-started {
    display: inline-block;
    border-radius: 25px;
    background-color: white;
    color: var(--color-primary);
    padding: 0.7rem 2.5rem;
    margin-top: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    cursor: pointer;
}

.section:nth-child(6) span {
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/* ------- FOOTER ------- */

footer {
    background-color: #333333;
    color: white;
    font-size: 0.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer .col-1 {
    flex-wrap: wrap;
}

footer p {
    padding-bottom: 3.5rem;
    color: white !important;
}

footer span {
    width: 100%;
}

footer span > u {
    color: var(--color-primary);
}

