* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-prim: #9792e4;
    --color-sec: #0084fd;
    --color-sec-light: #b5ddff;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}

/* HEADER AND NAV-BAR */

header {
    background-color: var(--color-sec);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 70px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    color: white;
    padding: 0.3rem 0.5rem;
}

ul > li:last-child {
    color: black;
}

.btn {
    background-color: #ffffff;
    border-radius: 20px;
}

/* MAIN */

.container {
	width: 960px;
	padding-left: 2rem;
	padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

footer {
    background-color: #333333;
}