* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    /* SOLO PER DEBUG */
    border: 1px dashed red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-p-medium {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-p-large {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* --- HEADER AND NAV-BAR --- */

header {
    background-color: var(--color-secondary);
    min-height: 70px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.btn > a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #ffffff;
    border-radius: 20px;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
justify-content: center;
}

.col {
flex-grow: 1;
flex-basis: 0;
}

.col-1 {
flex-basis: calc((100% / 3) - 1rem);
}

.col-2 {
flex-basis: calc(((100% / 3) * 2) - 1rem);
}

.col-3 {
flex-basis: 100%;
}

.card {
    padding: 1rem;
/* SOLO PER DEBUG */
    background-color: red;
    border-radius: 1rem;
    min-height: 100px;
}

.bg-primary {
background-color: var(--color-primary);
}

.bg-secondary {
background-color: var(--color-secondary);
}

.bg-secondary-light {
background-color: var(--color-secondary-light);
}

@media screen and (max-width: 992px) {
.container {
    width: calc(var(--bp-md) - 2rem);
}

.col-lg-half {
    flex-basis: 50%;
}
}

@media screen and (max-width: 768px) {
.container {
    width: 534px;
}

.container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-md-half {
    flex-basis: 50%;
}

.col-md-full {
    flex-basis: 100%;
}
}

@media screen and (max-width: 576px) {
.container {
    width: 100%;
}
.container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-sm-half {
    flex-basis: 50%;
}

.col-sm-full {
    flex-basis: 100%;
}
}

/* ------- MAIN ------- */

/* ------ FIRST SECTION ------ */

.section:nth-child(1) .container {
    padding-left: 0;
    padding-right: 0;
}

.section:nth-child(1) .row {
    gap: 1rem;
}

.text-center {
    text-align: center;
}

[src="img/phone.png"] {
    max-width: 60%;
}

.demo-app {
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.section:nth-child(1) .card {
    height: 100%;
}

.section:nth-child(1) h4 {
    color: var(--color-secondary);
    padding-bottom: 1rem;
}

.demo-app > p {
    padding-bottom: 1.2rem;
    line-height: 1.4rem;
}

.section:nth-child(1) p {
    color: #5a6e7f;
    font-size: 0.9rem;
}

.section:nth-child(1) i {
    color: var(--color-secondary);
    padding-bottom: 1rem;
    font-size: 3rem;
}


.app-store {
    display: inline-block;
    color: white;
    border-radius: 25px;
    padding: 0.3rem 1.2rem;
    height: 33px;
}

.fa-apple {
    color: white !important;
    font-size: 1rem !important;
}

.phone {
    align-items: flex-end;
    padding-bottom: -1rem;
}


.fa-file-code {
    font-size: 3rem;
}

/* ------ SECOND SECTION ------ */

.section:nth-child(2) .container {
    padding-left: 0;
    padding-right: 0;
}

.section:nth-child(2) .row {
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.section:nth-child(2) .col {
    flex-grow: 0;
    flex-basis: calc((100% /3) - 1rem);
}

.plan2 > .card {
    background-color: white;
}

.section:nth-child(2) h3 {
    padding-bottom: 2rem;
    padding-top: 4rem;
}

.section:nth-child(2) h4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.section:nth-child(2) p {
    font-size: 0.9rem;
}

.plan2 {
    align-self: flex-end;
}

[src="img/planning1.png"] {
    width: 100%;
}

[src="img/planning2.png"] {
    width: 50%;
}

.down-arrow {
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2rem;
    margin: 1rem auto;
}









/* ------ FOOTER ------ */

footer {
    background-color: #333333;
}