* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-prim: #9792e4;
    --color-sec: #0084fd;
    --color-sec-light: #b5ddff;
    
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}

.container {
    width: 964px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    /* SOLO PER DEBUG */
    border: 1px dashed red;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-p-medium {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-p-large {
    padding-left: 4rem;
    padding-right: 4rem;
}

/* --- HEADER AND NAV-BAR --- */

header {
    background-color: var(--color-sec);
    min-height: 70px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

ul > li {
    display: inline-block;
    padding: 0.3rem 0.5rem;
}

.btn > a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #ffffff;
    border-radius: 20px;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
justify-content: center;
}

.col {
flex-grow: 1;
flex-basis: 0;
}

.col-1 {
flex-basis: calc(100% / 3);
}

.col-2 {
flex-basis: calc((100% / 3) * 2);
}

.col-3 {
flex-basis: 100%;
}

.card {
/* SOLO PER DEBUG */
background-color: red;
border-radius: 1rem;
min-height: 100px;
}

.bg-primary {
background-color: var(--color-primary);
}

.bg-secondary {
background-color: var(--color-secondary);
}

.bg-secondary-light {
background-color: var(--color-secondary-light);
}

@media screen and (max-width: 992px) {
.container {
    width: calc(var(--bp-md) - 2rem);
}

.col-lg-half {
    flex-basis: 50%;
}
}

@media screen and (max-width: 768px) {
.container {
    width: 534px;
}

.container-md-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-md-half {
    flex-basis: 50%;
}

.col-md-full {
    flex-basis: 100%;
}
}

@media screen and (max-width: 576px) {
.container {
    width: 100%;
}
.container-sm-p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-sm-half {
    flex-basis: 50%;
}

.col-sm-full {
    flex-basis: 100%;
}
}
















/* ------ FOOTER ------ */

footer {
    background-color: #333333;
}